<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.sblo.pandora.jota"
      android:versionCode="31"
      android:versionName="0.1.11"
      android:installLocation="auto"
>
    <application android:icon="@drawable/icon"
		 android:name="jp.sblo.pandora.jota.JotaTextEditor"
                 android:label="@string/app_name_debug"
                 android:debuggable="true"
        >
        <activity android:name="jp.sblo.pandora.jota.Main"
                  android:label="@string/app_name_debug"
		  android:theme="@style/Theme.Normal"
		  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="text/*"/>
            </intent-filter>
            <intent-filter>
                 <action android:name="android.intent.action.SEND" />
                 <category android:name="android.intent.category.DEFAULT" />
                 <data android:mimeType="text/*" />
            </intent-filter>

	    <!-- for SL4A -->
	    <intent-filter>
	        <action
	          android:name="com.googlecode.android_scripting.action.EDIT_SCRIPT" />
	        <category
	          android:name="android.intent.category.DEFAULT" />
	    </intent-filter>

        </activity>
        <activity android:name="jp.sblo.pandora.jota.MainForResult"
                  android:label="@string/app_name_debug"
		  android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity android:name="jp.sblo.pandora.jota.FileSelectorActivity">
        </activity>

        <activity android:name="jp.sblo.pandora.jota.ActivityPicker"
                android:label="@string/activity_picker_label"
                android:theme="@*android:style/Theme.Dialog.Alert"
                android:finishOnCloseSystemDialogs="true">
        </activity>

        <activity android:name="jp.sblo.pandora.jota.AboutActivity" />
        <activity android:name="jp.sblo.pandora.jota.SettingsActivity"/>
        <activity android:name="jp.sblo.pandora.jota.SettingsShortcutActivity"/>
        <activity android:name="jp.sblo.pandora.jota.DonateActivity"/>

	<!--- for donation -->
        <service android:name="jp.sblo.pandora.billing.BillingService" />

        <receiver android:name="jp.sblo.pandora.billing.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

    <uses-sdk android:minSdkVersion="4"
			  android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <!-- Required permission to use in-app billing. -->
    <uses-permission android:name="com.android.vending.BILLING" />

</manifest>